@charset "UTF-8";
html, body{ height: 100%; }
ul{ list-style: none; } /*리스트앞에꺼 안보임*/

section{
  height: 1080px;
  display: block;
}

nav{
  position: fixed; /*상단바고정*/
  top: 0;
  width: 100%;
  height: 60px;
  background: white ;
}

nav ul{
  float: right;
  margin-right: 60px;
}

nav li{
  display: block;
  line-height: 60px;
  padding: 0 20px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
}

.bg{
  background: no-repeat;
  position: flex;
  margin-top: 60px;
  float: right;
}

#section2{
  border-bottom: plum;
}

.dot{
  position: flex; /*뒤로 보내*/
  text-align: center;
  padding-top: 280px;
}

h1{
  color: purple;
}

#section2 .hh{
  font-size: 12px;
}

#section3{
  background: linear-gradient( to bottom, plum, pink);
  display: block;
  padding: 100px 0 200px 200px;
  border-bottom: 3px dashed white;
  border-width: thin;
}

#section3 h2{
  position: absolute;
  margin-top: -30px;
  float: left;
  color: white;
  border: 1px solid white;
}

.box{
  flex-basis: 400px; /*이거머임2*/
  flex-grow: 0;
  float: left;
  padding: 100px;

}

.box .inner img{
  width: 300px;
}

#section4{
  background: linear-gradient( to bottom, pink, plum);
  display: block;
  padding: 0;
  height: 400px;
  padding-left: 200px;
  padding-top: 150px;
}


#section4 .box{
  float: left;
  padding: 50px;

}
#section4 .box .inner img{
  width: 150px;
}


footer{
  font-size: 12px;
  text-align: center;
  line-height: 50px;
}

@media only screen and (max-width: 1720px) {

  #section3{
  padding: 100px 0 100px 100px;
  height: 900px;
  }
  .box{
    padding: 80px;
  }
  .box .inner img{
    width: 250px;
  }
  #section4{
    padding-left: 100px;
    padding-top: 75px;
  }
  #section4 .box{
    float: left;
    padding: 30px;
  }
}

@media only screen and (max-width: 1500px) {
  #section3{
  padding: 50px 0 50px 50px;
  }
  #section3 h2{
    margin-top: -10px;
  }
  .box{
    padding: 80px;
  }
  .box .inner img{
    width: 200px;
  }
  #section4{
    padding-left: 70px;
    padding-top: 40px;
  }
  #section4 .box{
    float: left;
    padding: 10px;
  }
}

@media only screen and (max-width: 1300px) {
  #section3{
  padding: 50px 0 50px 50px;
  height: 700px;
  }
  .box{
    padding: 80px;
  }
  .box .inner img{
    width: 150px;

  }
}

@media only screen and (max-width: 1000px) {
  #section3{
  padding: 50px 0 50px 50px;
  height: 700px;
  }
  .box{
    padding: 60px;
  }
  .box .inner img{
    width: 150px;
  }
  #section4{
    padding-left: 50px;
    padding-top: -50px;
  }
  #section4 .box{
    float: left;
    padding: 10px;
  }
  #section4 .box .inner img{
      width: 120px;
    }
}
